
*.pyc
scripts/mpt_startenddate_total_pixml_transferdb.py
scripts/test.csv
scripts/mpt_startenddate_total_pixml_transferdb_dt.py
data/consistency_uit.xlsx
config/config.ini
data/consistency_uit.xlsx
data/consistency_uit.xlsx
data/consistency_uit.xlsx
data/~$consistency_uit.xlsx
data/mpt_startenddate_total_pixml_transferdb_ignore.csv
config/config_example.ini.bak
data/csv/oppvlwater_hoofdloc.csv
*.csv
*.bak
scripts/test.py
config/config.json
